<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>271294585129-ipn5069mlbp7tp7jb10t8oqecavsfpm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271294585129-ipn5069mlbp7tp7jb10t8oqecavsfpm4</string>
	<key>API_KEY</key>
	<string>AIzaSyBwFwiWUZZPxuUfvcRnq_M1noUStwTBprs</string>
	<key>GCM_SENDER_ID</key>
	<string>271294585129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geotogetherapplication.ios</string>
	<key>PROJECT_ID</key>
	<string>geotogether-405ad</string>
	<key>STORAGE_BUCKET</key>
	<string>geotogether-405ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271294585129:ios:b4f05945397634a5</string>
	<key>DATABASE_URL</key>
	<string>https://geotogether-405ad.firebaseio.com</string>
</dict>
</plist>